<div class="starter-template">
    {{#tasks}}
        <h1>{{submissionTime}}</h1>
        <h1>{{mark}}</h1>
        <h1>{{id}}</h1>
        <form action="submission/{{id}}" >
            <input type="submit" value="Get info" />
        </form>
    {{/tasks}}
</div>