<h2>Task submission</h2>

<form action="addnewtask" method="post">
    title: <input type="text" id="title" name="title"><br>
    publicationDate: <input type="date" id="publicationDate" name="publicationDate"><br>
    problem: <input type="text" id="problem" name="problem"><br>
    deadline: <input type="date" id="deadline" name="deadline"><br>
    <input type="submit" value="Submit">
</form>


<form action="home" >
    <input type="submit" value="Home" />
</form>


