<h2>Task submission</h2>

<form action="../../addnewsubmit" method="post">
    <input type="text" id="solution" name="solution"><br>
    <input type="submit" value="Submit">
</form>


<form action="../../home" >
    <input type="submit" value="Home" />
</form>


